html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 550px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
table {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 0.12px solid;
  font-size: 12px;
}
th {
  background-color: whitesmoke;
}
tr:hover {
  background-color: rgb(231, 225, 201);
}
table, td, th {
  border-collapse: collapse;
}
th, td {
  padding: 1px;
  border: 1px solid #777;
  text-align: left;
}
.selected-row {
  background-color: #cce6ff; /* You can customize the background color */
}

